@use '../../scss/abstracts/variables' as v;

.wrapper {
  background-color: black;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  height: 100vh;
  width: auto;
}

.form {
  border-radius: 20px;
  background-color: v.$gray-back;
  box-shadow: 0 0 50px 0px v.$pink-color;
  width: 500px; // Немного сузим для красоты
  min-height: 400px; // Вместо жесткого height лучше использовать min-height
  height: fit-content;
  padding: 40px; // Уменьшим паддинг, чтобы внутри было больше места
  display: flex;
  flex-direction: column;

  .tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px; // Отступ кнопок от полей ввода
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 15px; // Расстояние между инпутами и текстом

    p {
      margin: 0; // Сбрасываем дефолтные отступы параграфов
      color: white; // Если фон темный
    }
    input {
      width: 100%; // ← растягиваем на всю ширину
      box-sizing: border-box;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.05) !important;
      color: white;
      margin-bottom: 10px;
    }
    // дополнительно для автозаполнения
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: white !important;
      caret-color: white;
    }

    .passBlock {
      position: relative; // чтобы кнопка позиционировалась внутри
      width: 100%;

      .passBox {
        width: 100%;
        padding-right: 40px; // чтобы текст не налезал на кнопку
        box-sizing: border-box;
      }

      button {
        position: absolute;
        right: 12px; // отступ от правого края
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #aaa;
        transition: color 0.2s;
        padding-bottom: 10px;

        &:hover {
          color: white;
        }
      }
    }
  }
}
